{
  "openWithInventory" : true, //Forces the inventory to open when opening this interface
  
  "gui" : {
	//Main body
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/scripted/starforge-vendingmachine/header.png",
      "fileBody" : "/interface/scripted/starforge-vendingmachine/body.png",
      "fileFooter" : "/interface/scripted/starforge-vendingmachine/footer.png"
    },
	
	//Close interface button
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [161, 242]
    },

	//Title, subtitles and icon
    "windowtitle" : {
      "type" : "title",
      "title" : "Vending Machine",
      "subtitle" : "^#b9b5b2;Buy your goods here!",
      "position" : [-5, 252]
    },
    "bgShine" : {
      "type" : "image",
      "file" : "/interface/merchant/shine.png",
      "position" : [-3, -19],
      "zlevel" : 1,
      "mouseTransparent" : true
    },
	"imgManufacturer" : {
	  "type" : "image",
	  "file" : "/interface/sf-manufacturers/elpiselements.png",
      "position" : [7, 240],
	  "zlevel" : 1
	},
	"imgManufacturerFrame" : {
	  "type" : "image",
	  "file" : "/interface/inventory/portrait.png",
      "position" : [4, 237],
	  "zlevel" : 2
	},

	"lblcostCaption" : {
	  "type" : "label",
	  "fontSize" : 8,
	  "position" : [80, 51],
	  "value" : "COST",
	  "hAnchor" : "right"
	},
	"imgCostIcon" : {
	  "type" : "image",
	  "file" : "/interface/merchant/pixels.png",
	  "position" : [82, 53],
	  "zlevel" : -3
	},
	"lblCostTotal" : {
	  "type" : "label",
	  "fontSize" : 8,
	  "position" : [94, 51],
	  "value" : "0"
	},
	"lblRefreshTimer" : {
	  "type" : "label",
	  "fontSize" : 8,
	  "position" : [31, 28],
	  "value" : "Refresh in:\n69:69",
	  "hAnchor" : "mid"
	},
	"btnBuy" : {
	  "type" : "button",
	  "base" : "/interface/merchant/button.png",
	  "hover" : "/interface/merchant/buttonhover.png",
	  "position" : [60, 30],
	  "caption" : "Buy",
      "callback" : "purchase"
	},
	//Scroll area
	"itemScrollArea" : {
	  "type" : "scrollArea",
	  "rect" : [5, 62, 171, 216],
	  "children" : {
		"itemList" : {
		  "type" : "list",
          "callback" : "itemSelected",
		  "schema" : {
			"selectedBG" : "/interface/merchant/itemselected.png",
			"unselectedBG" : "/interface/merchant/itembackground.png",
			"spacing" : [0, 1],
			"memberSize" : [156, 20],
			"listTemplate" : {
			  "background" : {
				"type" : "image",
				"file" : "/interface/merchant/itembackground.png",
				"position" : [0, 0],
				"zlevel" : -1
			  },
			  "itemName" : {
				"type" : "label",
				"position" : [22, 18],
				"hAnchor" : "left",
				"vAnchor" : "top",
				"wrapWidth" : 116,
				"lineSpacing" : 1.05,
				"value" : "Replace Me"
			  },
			  "itemIcon" : {
				"type" : "itemslot",
				"position" : [1, 1],
				"callback" : "null"
			  },
			  "moneyIcon" : {
				"type" : "image",
				"position" : [108, 1],
				"file" : "/interface/money.png"
			  },
			  "priceLabel" : {
				"type" : "label",
				"position" : [153, 0],
				"hAnchor" : "right",
				"value" : "0"
			  },
			  "unavailableoverlay" : {
				"type" : "image",
				"file" : "/interface/merchant/unavailableoverlay.png",
				"position" : [0, 0],
				"zlevel" : 1
			  }
			}
		  }
		}
	  }
	}
  },

  "scriptWidgetCallbacks" : [
    "itemSelected",
    "purchase"
  ],

  "scripts" : ["/interface/scripted/starforge-vendingmachine/starforge-vendingmachine.lua"],
  "scriptDelta" : 5,

  "weaponType" : "starforge-combatrifle",
  "weaponInventorySize" : 7
}
